* {
	box-sizing: border-box;
	font-family: sans-serif;
}

/*** Containers ***/

html, body, #map-area {
	height: 100%;
	margin: 0;
	padding: 0;
}

#notifications {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 20px;
}

#map-controls {
	position: absolute;
	z-index: 100;
	top: 130px;
	left: 8px;
	background-color: #FFF;
	border: 3px solid rgba(0,60,136,.4);
}

#search-box {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 100;
	top: 250px;
	left: 8px;
	/*width: 340px;*/
	height: 56px;
	background-color: rgba(255,255,255,.4);
	border: 3px solid rgba(0,60,136,.4);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

#search-box:hover {
	background-color: rgba(255,255,255,.6);
}

#map-area {
	background-image: url("../images/world.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/*** Buttons ***/

.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out {
	width: 54px;
	height: 54px;
	font-size: 1.8em;
}

#map-controls button {
	padding: 2px;
	background-color: rgba(122,122,122,.6);
	border: 4px solid transparent;
}

#map-controls button:hover {
	background-color: rgba(122,122,122,.8);
}

#locate-me-btn, #open-search-btn {
	width: 50px;
	height: 50px;
}

#locate-me-btn {
	background-image: url("../images/geolocation-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 3px;
}

#open-search-btn {
	background-image: url("../images/search-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#search-box button {
	font-size: 14px;
	color: #FFF;
	background-color: rgba(0,60,136,.5);
	padding: 3px;
	border: none;
	border-radius: 2px;
}

#search-box button:hover {
	background-color: rgba(0,60,136,.7);
}

/*** Forms ***/

#search-box form input {
	width: 190px;
	padding:3px;
	font-size: 16px;
	color: #5E7889;
	border: 3px solid rgba(179,23,30,.6);
	border-radius: 4px;
}

#search-box form input:hover {
	border: 3px solid rgba(179,23,30,.8);
}